<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="source">Link:</label>
    <input name="source" #newsource>
  </div>
  <button (click)="addPost(newtitle, newsource)" class="ui positive right floated button">Submit Link</button>
</form>

<div class="ui grid posts">
  <app-post *ngFor="let p of sortedPosts()" [post]="p"></app-post>
</div>
